In [1]:
import numpy as np
import pandas as pd
import os
import math

from scipy import stats #Analysis 
from scipy.stats import norm 
import pickle

import missingno as msno
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import rcParams
%matplotlib inline

## 1. Data Load

In [2]:
path = "../Dataset/"

test = pd.read_csv(path + "test.csv")
test

,index,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,...,gender,engnat,age,hand,religion,orientation,voted,married,familysize,ASD
0,0,4.0,4.0,3.0,5.0,5.0,5.0,3.0,5.0,4.0,...,2.0,2.0,19,1.0,4.0,4.0,1.0,1.0,3.0,2.0
1,1,4.0,5.0,4.0,4.0,5.0,4.0,5.0,5.0,5.0,...,1.0,1.0,33,1.0,1.0,5.0,2.0,1.0,5.0,2.0
2,2,5.0,5.0,5.0,5.0,4.0,5.0,5.0,5.0,5.0,...,2.0,2.0,13,1.0,4.0,5.0,2.0,1.0,3.0,2.0
3,3,5.0,4.0,3.0,4.0,5.0,4.0,5.0,4.0,4.0,...,1.0,1.0,28,1.0,2.0,2.0,2.0,1.0,3.0,2.0
4,4,5.0,5.0,5.0,5.0,5.0,3.0,5.0,5.0,5.0,...,2.0,2.0,15,1.0,4.0,5.0,2.0,1.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35447,35447,4.0,5.0,5.0,3.0,3.0,4.0,5.0,5.0,4.0,...,2.0,2.0,16,3.0,10.0,4.0,2.0,1.0,3.0,2.0
35448,35448,5.0,5.0,5.0,5.0,5.0,4.0,5.0,3.0,5.0,...,3.0,1.0,16,3.0,2.0,5.0,2.0,1.0,2.0,2.0
35449,35449,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,...,1.0,1.0,31,1.0,1.0,5.0,1.0,1.0,2.0,2.0
35450,35450,5.0,5.0,4.0,5.0,5.0,1.0,5.0,1.0,5.0,...,1.0,1.0,19,1.0,12.0,1.0,2.0,1.0,NaN,2.0
35451,35451,5.0,5.0,4.0,5.0,2.0,4.0,3.0,5.0,4.0,...,2.0,1.0,14,2.0,NaN,2.0,2.0,1.0,1.0,2.0

## 2. Preprocessing

In [3]:
processed_dataset = test.drop(['index'], axis=1).copy()

question_col = processed_dataset.columns[0:26]
processed_dataset[question_col] = processed_dataset[question_col].fillna(0)

TIPI1 = processed_dataset.columns[30:40]
processed_dataset[TIPI1] = processed_dataset[TIPI1].fillna(0)

processed_dataset = processed_dataset.drop(['country'], axis=1)

# gender랑 hand, voted도 결측값은 0으로 채우고
processed_dataset['gender'] = processed_dataset['gender'].fillna(0)
processed_dataset['hand'] = processed_dataset['hand'].fillna(0)
processed_dataset['voted'] = processed_dataset['voted'].fillna(0)

In [4]:
processed_dataset

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,...,gender,engnat,age,hand,religion,orientation,voted,married,familysize,ASD
0,4.0,4.0,3.0,5.0,5.0,5.0,3.0,5.0,4.0,5.0,...,2.0,2.0,19,1.0,4.0,4.0,1.0,1.0,3.0,2.0
1,4.0,5.0,4.0,4.0,5.0,4.0,5.0,5.0,5.0,4.0,...,1.0,1.0,33,1.0,1.0,5.0,2.0,1.0,5.0,2.0
2,5.0,5.0,5.0,5.0,4.0,5.0,5.0,5.0,5.0,4.0,...,2.0,2.0,13,1.0,4.0,5.0,2.0,1.0,3.0,2.0
3,5.0,4.0,3.0,4.0,5.0,4.0,5.0,4.0,4.0,5.0,...,1.0,1.0,28,1.0,2.0,2.0,2.0,1.0,3.0,2.0
4,5.0,5.0,5.0,5.0,5.0,3.0,5.0,5.0,5.0,5.0,...,2.0,2.0,15,1.0,4.0,5.0,2.0,1.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35447,4.0,5.0,5.0,3.0,3.0,4.0,5.0,5.0,4.0,3.0,...,2.0,2.0,16,3.0,10.0,4.0,2.0,1.0,3.0,2.0
35448,5.0,5.0,5.0,5.0,5.0,4.0,5.0,3.0,5.0,3.0,...,3.0,1.0,16,3.0,2.0,5.0,2.0,1.0,2.0,2.0
35449,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,...,1.0,1.0,31,1.0,1.0,5.0,1.0,1.0,2.0,2.0
35450,5.0,5.0,4.0,5.0,5.0,1.0,5.0,1.0,5.0,5.0,...,1.0,1.0,19,1.0,12.0,1.0,2.0,1.0,NaN,2.0
35451,5.0,5.0,4.0,5.0,2.0,4.0,3.0,5.0,4.0,5.0,...,2.0,1.0,14,2.0,NaN,2.0,2.0,1.0,1.0,2.0

## 3. Model Load

In [5]:
import joblib
#import pickle
model = joblib.load(path+'notuned_XGB_0805_22_48.h5') # you should fill out this part

columns_name = ["label"]

prediction = model.predict(processed_dataset)
prediction = pd.DataFrame(prediction, columns = columns_name )
prediction

       label
0          1
1          1
2          1
3          1
4          0
...      ...
35447      1
35448      1
35449      1
35450      1
35451      1

[35452 rows x 1 columns]

## 4. Submission

In [6]:
submission = pd.read_csv(path + "sample_submission.csv")
submission

       index  nerdiness
0          0         -1
1          1         -1
2          2         -1
3          3         -1
4          4         -1
...      ...        ...
35447  35447         -1
35448  35448         -1
35449  35449         -1
35450  35450         -1
35451  35451         -1

[35452 rows x 2 columns]

In [7]:
submission['nerdiness'] = prediction['label']
submission

       index  nerdiness
0          0          1
1          1          1
2          2          1
3          3          1
4          4          0
...      ...        ...
35447  35447          1
35448  35448          1
35449  35449          1
35450  35450          1
35451  35451          1

[35452 rows x 2 columns]